let mapleader = "<space>"   " leader is comma
let localleader = "<space>" " leader is comma

set tabstop=4       " number of visual spaces per TAB
set softtabstop=4   " number of spaces in tab when editing
set shiftwidth=4    " spaces in newline start
set expandtab       " tabs are spaces
set number              " show line numbers
set rnu                 " show relative line numbers
set showcmd             " show command in bottom bar
set cursorline          " highlight current line
set surround            " use surround shortcuts
set commentary "vim-commentary
filetype indent on      " load filetype-specific indent files
set wildmenu            " visual autocomplete for command menu
set showmatch           " highlight matching [{()}]
set timeoutlen=500      " timeout for key combinations

set so=5                " lines to cursor
set backspace=2         " make backspace work like most other apps
set incsearch           " search as characters are entered
set hlsearch            " highlight matches
set ignorecase          " do case insensitive matching
set smartcase           " do smart case matching
set hidden

set fillchars+=stl:\ ,stlnc:\
set laststatus=2
set clipboard=unnamedplus  "X clipboard as unnamed

"press kj to exit insert mode
imap kj <Esc>
vmap kj <Esc>

"@see https://youtrack.jetbrains.com/issue/VIM-510 on expand selected region. Press `Ctrl-W` and `Ctrl-Shift-W` to increase and decrease selected region
" == Remember these Shortcuts ==
" Smart code completion Ctrl + Shift + Space
" Search everywhere Double Shift
" Show intention actions and quick-fxes Alt + Enter
" Generate code Alt + Ins
" Parameter info Ctrl + P
" Extend selection Ctrl + W
" Shrink selection Ctrl + Shift + W
" Recent fles popup Ctrl + E
" Rename Shift + F6

" == General ==
" Open corresponding tool window Alt + #[0-9]
" Save all Ctrl + S
" Synchronize Ctrl + Alt + Y
" Toggle maximizing editor Ctrl + Shift + F12
" Inspect current fle with current profle Alt + Shift + I
" Quick switch current scheme Ctrl + BackQuote (`)
" Open Settings dialog Ctrl + Alt + S
" Open Project Structure dialog Ctrl + Alt + Shift + S
" Find Action Ctrl + Shift + A
noremap <leader><leader>a :action GotoAction<CR>

" Search / Replace
" Search everywhere Double Shift
" Find Ctrl + F
" Find next/previous F3 / Shift + F3
" Replace Ctrl + R
" Find in path Ctrl + Shift + F
" Replace in path Ctrl + Shift + R
" Select next occurrence Alt + J
" Select all occurrences Ctrl + Alt + Shift + J
" Unselect occurrence Alt + Shift + J
noremap <leader>f :action Find<CR>
noremap <leader><leader>f :action FindInPath<CR>

" Editing
" Basic code completion Ctrl + Space
" Smart code completion Ctrl + Shift + Space
" Complete statement Ctrl + Shift + Enter
" Parameter info (within method call arguments) Ctrl + P
" Quick documentation lookup Ctrl + Q
" External Doc Shift + F1
" Brief Info Ctrl + mouse
" Show descriptions of error at caret Ctrl + F1
" Generate code... Alt + Insert
" Override methods Ctrl + O
" Implement methods Ctrl + I
" Surround with…  Ctrl + Alt + T
" Comment/uncomment with line comment Ctrl + /
" Comment/uncomment with block comment Ctrl + Shift + /
" Extend selection Ctrl + W
" Shrink selection Ctrl + Shift + W
" Context info Alt + Q
" Show intention actions and quick-fxes Alt + Enter
" Reformat code Ctrl + Alt + L
" Optimize imports Ctrl + Alt + O
" Auto-indent line(s) Ctrl + Alt + I
" Indent/unindent selected lines Tab / Shift + Tab
" Cut current line to clipboard Ctrl + X , Shift + Delete
" Copy current line to clipboard Ctrl + C , Ctrl + Insert
" Paste from clipboard Ctrl + V , Shift + Insert
" Paste from recent buﬀers... Ctrl + Shift + V
" Duplicate current line Ctrl + D
" Delete line at caret Ctrl + Y
" Smart line join Ctrl + Shift + J
" Smart line split Ctrl + Enter
" Start new line Shift + Enter
" Toggle case for word at caret or selected block Ctrl + Shift + U
" Select till code block end /start Ctrl + Shift + ] / [
" Delete to word end Ctrl + Delete
" Delete to word start Ctrl + Backspace
" Expand/collapse code block Ctrl + NumPad+ / -
" Expand all Ctrl +  Shift + NumPad+
" Collapse all Ctrl + Shift
noremap <leader><leader>v :action PasteMultiple<CR>

" Refactoring
" Copy F5
" Move F6
" Safe Delete Alt + Delete
" Rename Shift + F6
" Refactor this Ctrl + Alt + Shift + T
" Change Signature Ctrl + F6
" Inline Ctrl + Alt + N
" Extract Method Ctrl + Alt + M
" Extract Variable Ctrl + Alt + V
" Extract Field Ctrl + Alt + F
" Extract Constant Ctrl + Alt + C
" Extract Parameter Ctrl + Alt + P

" Navigation
" Go to class Ctrl + N
" Go to fle Ctrl + Shift + N
" Go to symbol Ctrl + Alt + Shift + N
" Go to next/previous editor tab Alt + Right/Left
" Go back to previous tool window F12
" Go to editor (from tool window) Esc
" Hide active or last active window Shift + Esc
" Go to line Ctrl + G
" Recent fles popup Ctrl + E
" Navigate back/forward Ctrl + Alt + Left/Right
" Navigate to last edit location Ctrl + Shift + Backspace
" Select current fle or symbol in any view Alt + F1
" Go to declaration Ctrl + B , Ctrl + Click
" Go to implementation(s) Ctrl + Alt + B
" Open quick defnition lookup Ctrl + Shift + I
" Go to type declaration Ctrl + Shift + B
" Go to super-method/super-class Ctrl + U
" Go to previous/next method Alt + Up/Down
" Move to code block end/start Ctrl + ]/[
" File structure popup Ctrl + F12
" Type hierarchy Ctrl + H
" Method hierarchy Ctrl + Shift + H
" Call hierarchy Ctrl + Alt + H
" Next/previous highlighted error F2 / Shift + F2
" Edit source/View source F4 / Ctrl + Enter
" Show navigation bar Alt + Home
" Toggle bookmark F11
" Toggle bookmark with mnemonic Ctrl + F11
" Go to numbered bookmark Ctrl + #[0-9]
" Show bookmarks Shift + F11
noremap <leader>n :action GotoFile<CR>
noremap <leader>e :action RecentFiles<CR>
noremap <leader>b :action GotoDeclaration<CR>
noremap <leader>ab :action GotoImplementation<CR>
noremap <leader>u :action GotoSuperMethod<CR>
noremap <leader>i :action FileStructurePopup<CR>
noremap <leader>h :action TypeHierarchy<CR>

" Compile and Run
" Make project Ctrl + F9
" Compile selected fle, package or module Ctrl + Shift + F9
" Select confguration and run/debug Alt + Shift + F10/F9
" Run/Debug Shift + F10 / F9
" Run context confguration from editor Ctrl + Shift + F10

" Usage Search
" Find usages/Find usages in fle Alt + F7 / Ctrl + F7
" Highlight usages in fle Ctrl + Shift + F7
" Show usages Ctrl + Alt + F7

" VCS / Local History
" Commit project to VCS Ctrl + K
" Update project from VCS Ctrl + T
" Push commits Ctrl + Shift + K
" ‘VCS’ quick popup Alt + BackQuote (`)

" Live Templates
" Surround with Live Template Ctrl + Alt + J
" Insert Live Template Ctrl + J

" noremap <leader>ci :action CommentByLineComment<CR>
" noremap <leader>xs :action SaveAll<CR>
" noremap <leader>aa :action $Copy<CR>
" noremap <leader>zz :action $Paste<CR>
noremap <leader><leader>c :action CopyPaths<CR>
noremap <leader>a<leader>c :action CopyReference<CR>
noremap <leader>xk :action CloseEditor<CR>
noremap <leader>xz :action ActivateTerminalToolWindow<CR>
" ideavim bug, they don't support numberic character in hotkey
" should be ,x1
noremap <leader>xu :action VimWindowOnly<CR>
" should be ,x3
noremap <leader>xh :action VimWindowSplitHorizontal<CR>
" should be ,x2
noremap <leader>xv :action VimWindowSplitVertical<CR>
" but ,x0 works!
noremap <leader>x0 :action VimWindowClose<CR>
" move window
noremap <leader>wh :action VimWindowLeft<CR>
noremap <leader>wl :action VimWindowRight<CR>
noremap <leader>wj :action VimWindowDown<CR>
noremap <leader>wk :action VimWindowUp<CR>
