" Selected Intellimacs modules
source ~/.intellimacs/spacemacs.vim

" (Optional) Enable other Intellimacs modules
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" (Optional) Enable which-key plugin
source ~/.intellimacs/which-key.vim

" (Optional) Comma for major mode
nmap , <leader>m
vmap , <leader>m

set tabstop=4       " number of visual spaces per TAB
set softtabstop=4   " number of spaces in tab when editing
set shiftwidth=4    " spaces in newline start
set expandtab       " tabs are spaces
set number              " show line numbers
" set rnu                 " show relative line numbers
set showcmd             " show command in bottom bar
set cursorline          " highlight current line
filetype indent on      " load filetype-specific indent files
set wildmenu            " visual autocomplete for command menu
set showmatch           " highlight matching [{()}]
set timeoutlen=500      " timeout for key combinations
set so=5                " lines to cursor
set backspace=2         " make backspace work like most other apps
set incsearch           " search as characters are entered
set hlsearch            " highlight matches
set ignorecase          " do case insensitive matching
set smartcase           " do smart case matching
set hidden

set fillchars+=stl:\ ,stlnc:\
set laststatus=2
set clipboard=unnamedplus  "X clipboard as unnamed

"plugins
" set easymotion
set surround
set commentary
set textobj-entire
set argtextobj
set which-key
" map <Leader> <Plug>(easymotion-prefix)

"press kj to exit insert mode
imap kj <Esc>
vmap kj <Esc>

nnoremap Y y$

" let mapleader = " "
" let localleader = " "
" noremap <Leader>xm :action SearchEverywhere<CR>
" noremap <Leader>ci :action CommentByLineComment<CR>
nnoremap <leader>ss :action Find<CR>
vnoremap <leader>ss :action Find<CR>
nnoremap <leader>gg :action FindInPath<CR>
vnoremap <leader>gg :action FindInPath<CR>
nnoremap <leader>kk :action FindInPath<CR>
vnoremap <leader>kk :action FindInPath<CR>
noremap <leader>rr :action RecentFiles<CR>
vnoremap <leader>rr :action RecentFiles<CR>
noremap <leader>ii :action FileStructurePopup<CR>
noremap <leader>yy :action PasteMultiple<CR>
noremap <leader>xk :action CloseEditor<CR>
noremap <leader>xz :action ActivateTerminalToolWindow<CR>

noremap <leader>so <C-W><C-W>
noremap <leader>sa :split<CR>
noremap <leader>sd :vsplit<CR>
noremap <leader>sq :q<CR>
noremap <leader>s1 <C-W>o
noremap <leader>oo <C-W>o
noremap <leader>wh <C-W>h
noremap <leader>wl <C-W>l
noremap <leader>wj <C-W>j
noremap <leader>wk <C-W>k
vnoremap v :action EditorSelectWord<CR>
vnoremap z :action EditorUnSelectWord<CR>
